
/*整体演示设置*/
*{
	margin:0;
	padding:0;
	list-style-type: none;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #666560;
	text-decoration: none;
}
a{
	color: #666560;
}
a:hover{
	color:red;
}
.w{
	width: 1200px;
	margin: 0 auto;
}
img{
	border:none;
	display: block;
}
.clear::after{
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	zoom:1;
	height: 0;
}