<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="./vue.js"></script>
<body>
    <div id="app">
        <ul>
            <li v-for="(vvv,k) in arr">{{vvv}}------{{k}}</li>
        </ul>

        <ul>
            <li v-for="(v,k) in obj">{{v}}----{{k}}</li>
        </ul>
    </div>
</body>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            arr:['a','b','c'],
            obj:{name:'李四',age:18,sex:'铝'},
        },
        methods:{}
    })
</script>
</html>