<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="xing">
        <input type="text" v-model="ming">
        <br>
        <!-- {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}}
        {{fullName()}} -->


        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        {{fullName}}
        <!-- 使用计算属性时,属性的名字和computed中的方法名保持一致 -->
        <!-- 如果加上括号会报错 -->
        <!-- 因为内部获取的值就是一个fullName的属性值 -->
        <!-- {{fullName()}} -->

    </div>
</body>
<script src="./vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            xing: '',
            ming: ''
        },
        // methods:{
        //     // 在 模板中 使用一次,次函数就会调用一次
        //     fullName(){
        //         return this.xing+this.ming + Date.now();
        //     }
        // }


        // 使用计算属性
        computed: {
            // 不会每次调用
            // 当 xing 或者ming  变化时才会调用
            // 调用时,会将函数执行的结果放入一个和方法(函数) 同名的属性中
            // 以供模板使用,所以模板中不能加();
            fullName() {
                return this.xing + this.ming + Date.now();
            }
        }


    })
</script>

</html>